<section id="sidebar" role="group">
  <mat-action-list>
    <!-- Add New Person -->
    <button mat-list-item data-toggle="modal" data-target="#add-person-modal" (click)="addPerson()">
      <mat-icon aria-label="Add Person">person_add</mat-icon>
    </button>

    <!-- Destroy all humans -->
    <button mat-list-item>
      <mat-icon aria-label="Terminate All">report</mat-icon>
    </button>

    <!-- Silence Population -->
    <button mat-list-item>
      <mat-icon aria-label="Toggle Speech">volume_mute</mat-icon>
    </button>

    <!-- Cemetery -->
    <button mat-list-item>
      <mat-icon aria-label="Visit Cemetary">map</mat-icon>
    </button>
  </mat-action-list>
</section>
