<div class="person {{gender}}" [attr.data-uuid]="id" [class.mute]="isMute">
  <mat-icon>heart</mat-icon>
  <mat-icon>silence</mat-icon>
  <!-- <i class="icon glyphicon glyphicon-heart heart js-heart"></i> -->
  <!-- <i class="icon glyphicon glyphicon-remove silence"></i> -->
  <span class="person-name">{{name}}</span>
  <div class="death-age">
    <label>Age:<span>{{age}}</span></label>
  </div>
  <blockquote class="speech-bubble">
    <p>This is a test</p>
  </blockquote>
</div>

<div class="person-details" *ngIf="isShowDetails">
  <h4 class="name" data-name></h4>
  <label>Age:</label>
  <div class="progress" data-stat="age">
    <span class="value" data-value></span>
    <span class="progress-bar" data-progress-bar></span>
  </div>
  <label>Dirt Factor:</label>
  <div class="progress" data-stat="dirtFactor">
    <span class="value" data-value></span>
    <span class="progress-bar" data-progress-bar></span>
  </div>
  <label>Sleep Factor:</label>
  <div class="progress" data-stat="sleepFactor">
    <span class="value" data-value></span>
    <span class="progress-bar" data-progress-bar></span>
  </div>
  <label>Weight:</label>
  <div class="progress" data-stat="weight">
    <span class="value" data-value></span>
    <span class="progress-bar" data-progress-bar></span>
  </div>
  <label>Clothing:</label>
  <div class="clothing" data-stat="clothing">
    <p data-clothing></p>
  </div>
</div>

