<div class="person {{person.gender}}" [attr.data-uuid]="person.id" [class.mute]="person.isMute" cdkDragBoundary="biosphere" cdkDrag>
  <mat-icon>heart</mat-icon>
  <mat-icon>silence</mat-icon>
  <!-- <i class="icon glyphicon glyphicon-heart heart js-heart"></i> -->
  <!-- <i class="icon glyphicon glyphicon-remove silence"></i> -->
  <span class="person-name">{{person.name}}</span>
  <div class="death-age">
    <label>Age:<span>{{person.age}}</span></label>
  </div>
  <blockquote class="speech-bubble">
    <p>This is a test</p>
  </blockquote>
</div>

<app-person-details [person]="person" *ngIf="isShowDetails"></app-person-details>
