<div
	class="person {{person.gender}}"
	cdkDrag
	cdkDragBoundary="biosphere"
	[attr.data-uuid]="person.id"
	[class.mute]="person.isMute"
  [class.selected]="isSelected$ | async"
  [style.left.px]="position.left"
  [style.top.px]="position.top"
  (cdkDragStarted)="onDragStart($event)"
  (cdkDragReleased)="onDragReleased()"
  (click)="onClick()"
>
  <span class="icon heart">
    <mat-icon [inline]="true" >favorite</mat-icon>
  </span>
  <span class="icon silence">
    <mat-icon [inline]="true">mic_off</mat-icon>
  </span>
	<span class="person-name">{{person.name}}</span>
	<div class="death-age">
		<label>Age:<span>{{person.age}}</span></label>
	</div>
	<blockquote class="speech-bubble">
		<p>This is a test</p>
	</blockquote>
</div>
